$menu-height: 36px;

.app-header {
  height: 100%;
  display: flex;
  align-items: center;

  .menu {
    display: flex;
    align-items: center;

    .logo {
      font-size: 30px;
    }

    .menu-item {
      font-size: 20px;

      a:hover {
        text-decoration: underline;
        text-decoration-color: var(--ds-orange-500);
      }

      & + .menu-item {
        margin-left: 30px;
      }
    }
  }

  .space-left {
    margin-left: 80px;
  }

  .user {
    margin-left: 48px;
    color: var(--ds-orange-500);
    font-size: 16px;
  }
}
